#change-password-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--web-default-background-color);
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

#form-wrap {
  padding: 1.25rem;
  border: 1px solid var(--wrap-component-border-color);
  border-radius: var(--wrap-component-border-radius);
  background-color: var(--wrap-component-background-color);
}

form {
  margin-bottom: 1rem;
}

/* 비밀번호, 비밀번호 확인 입력칸 */
input {
  width: 25rem;
  padding: 0.75rem;
  margin-bottom: 0.375rem;
}

/* 오류 메시지 */
span {
  margin-bottom: 0.375rem;
}

/* 로그인 버튼 */
button {
  width: 100%;
  padding: 1rem 0;
}

ul {
  width: 100%;
}

b {
  color: inherit;
  margin-right: 4px;
}
